<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/backgroundForPages.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tableStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttonStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/linkStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/inputStyle.css">
</head>
<body>
<header>
    <div style="float: left">
        <a href="/"><img width="45" height="40" src="/static/styles/emblemNumber2.png"></a>
    </div>
</header>
<h1>Работники</h1>
<form th:action="@{/staff}" th:method="GET">
    <label for="search">Поиск по ФИО: </label>
    <input type="text" th:value="${fullNameForSearch}" name="fullNameForSearch" id="search"/>
    <button type="submit">Поиск</button>
</form>

<div th:unless="${staffs.isEmpty()}">
    <table>
        <tr>
            <th>Ф.И.О.</th>
            <th>Номер телефона</th>
        </tr>
        <tr th:each="staff : ${staffs}" th:unless="${staff.isUser()}" class="tr_body">
            <td><a th:href="@{/admin/{idStaff}(idStaff=${staff.getIdStaff()})}" th:text="${staff.fullName}"></a></td>
            <td th:text="${staff.phoneNumber}"></td>
        </tr>
    </table>
</div>

<div th:if="${staffs.isEmpty()}">
    <h3>Работников нет</h3>
</div>

<form th:action="@{/admin/hire}" th:method="GET">
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
    <button type="submit">Нанять работника(ов)</button>
</form>
</body>
</html>