<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Own edit</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/backgroundForPages.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttonStyle.css">
</head>
<body>
<header>
    <div style="float: left">
        <a href="/"><img width="45" height="40" src="/static/styles/emblemNumber2.png"></a>
    </div>
</header>

<h3>Редактирование собственных данных</h3>
<br>
<form th:method="POST" th:action="@{/staff/{idStaff}/ownEdit(idStaff=${staff.getIdStaff()})}" th:object="${staff}">

    <label for="name">ФИО: </label>
    <input type="text" th:field="*{fullName}" id="name" required/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br>

    <label for="login">Логин: </label>
    <input type="text" th:field="*{login}" id="login" required/>
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Name error</div>
    <br>

    <label for="phoneNumber">Номер телефона: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" required/>
    <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name error</div>
    <br>

    <input type="hidden" th:field="*{password}"/>
    <input type="hidden" th:field="*{idStaff}"/>
    <input type="hidden" th:field="*{dateOfCreated}"/>
    <input type="hidden" th:field="*{active}"/>
    <input type="hidden" th:field="*{jobTitles}"/>
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
    <button type="submit">Подтвердить</button>
</form>

<form th:method="GET" th:action="@{/personalArea/{idStaff}(idStaff=${staff.getIdStaff()})}">
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
    <button type="submit">Назад</button>
</form>

</body>
</html>