<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Supplies furniture</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/backgroundForPages.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tableStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttonStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/linkStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/inputStyle.css">
</head>
<body>
<header>
    <div style="float: left">
        <a href="/"><img width="45" height="40" src="/static/styles/emblemNumber2.png"></a>
    </div>
</header>
<h1>Поставки мебели</h1>
<form th:action="@{/supplies}" th:method="GET" th:object="${supply}">
    <label for="search">Поиск по дате поставки мебели: </label>
    <input type="date" th:value="${dateOfSupplies}" name="dateOfSupplies" id="search"/>
    <button type="submit">Поиск</button>
</form>

<form th:method="GET" th:action="@{/supplies}">
    <div style="float: left; margin-top: 10px">
        Сортировка по дате
    </div>
    <input id="sort" th:if="${isSorted.equals(true)}" type="checkbox" name="isSorted" checked onclick="form.submit()">
    <input id="unSort" th:unless="${isSorted.equals(true)}" type="checkbox" name="isSorted" onclick="form.submit()">
    <input type="hidden" th:value="${dateOfSupplies}" name="dateOfSupplies"/>
</form>
<br>

<div th:unless="${supplies.isEmpty()}">
    <table>
        <tr>
            <th>Дата поставки</th>
            <th>Ф.И.О.</th>
        </tr>
        <tr th:each="supply : ${supplies}" class="tr_body">
            <td><a th:href="@{/supplies/{id_supplies}(id_supplies=${supply.getId_supplies()})}" th:text="${supply.dateOfSupplies}"></a></td>
            <td th:if="${supply.staff != null}" th:text="${supply.staff.fullName}"></td>
            <td th:unless="${supply.staff != null}" th:text="'Работник уволен'"></td>
        </tr>
    </table>
</div>

<div th:if="${supplies.isEmpty()}">
    <h3>В указанную дату поставки не производились</h3>
</div>

<div th:if="${staff.isManager()}">
    <form th:action="@{/supplies/startCreate}" th:method="GET">
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
        <button type="submit">Поставить мебель</button>
    </form>
</div>


</body>
</html>