<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Supply creation</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/tableStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/linkStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/backgroundForPages.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttonStyle.css">
</head>
<body>
<header>
    <div style="float: left">
        <a href="/"><img width="45" height="40" src="/static/styles/emblemNumber2.png"></a>
    </div>
</header>
<h1>Supply creation</h1>
<h4>Поставка мебели</h4>

<div>
    <form th:action="@{/supplies/addFurniture}" th:method="POST" th:object="${furniture}">
        <label for="furniture">Мебель: </label>
        <select th:field="*{id_furniture}" id="furniture">
            <option th:each="furniture : ${furnitures}" th:value="${furniture.id_furniture}" th:text="${furniture.nameOfFurniture}"></option>
        </select><br><br>

        <label for="amount">Количество мебели для поставки: </label>
        <input type="number" min="1" max="50" step="1" th:field="*{amountOfFurniture}" id="amount"/><br><br>

        <div style="float: left">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <button type="submit">Добавить мебель в поставку</button>
        </div>
    </form>

    <div th:unless="${supply.suppliedFurnitureToSupplies.isEmpty()}" style="float: left">
        <form th:action="@{/supplies/save}" th:method="POST">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <button type="submit">Поставить выбранный товар(ы)</button>
        </form>
    </div>

    <div style="float: left">
        <form th:action="@{/supplies}" th:method="GET">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <button type="submit">Назад</button>
        </form>
    </div>
</div>
<br><br>
<div th:unless="${supply.suppliedFurnitureToSupplies.isEmpty()}">
    <table>
        <tr>
            <th>Название мебели</th>
            <th>Количество</th>
            <th>Удаление</th>
        </tr>
        <tr th:each="newSuppliedFurniture : ${supply.suppliedFurnitureToSupplies}">
            <td><a th:href="@{/furniture/{id_furniture}(id_furniture=${newSuppliedFurniture.furniture.getId_furniture()})}" style="color: #c668ff"
                   th:text="${newSuppliedFurniture.furniture.nameOfFurniture}"></a></td>
            <td th:text="${newSuppliedFurniture.amount}"></td>
            <td><a th:href="@{/supplies/delete/{newSuppliedFurniture_index}(nnewSuppliedFurniture_index=${newSuppliedFurniture.furniture.getId_furniture()})}" style="color: #ff1524"> Удалить </a></td>
        </tr>
    </table>
</div>

<div th:if="${supply.suppliedFurnitureToSupplies.isEmpty()}">
    <h3>Добавьте мебель в поставку</h3>
</div>

</body>
</html>