<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sale info</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/tableStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/backgroundForPages.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttonStyle.css">
</head>
<body>
<header>
    <div style="float: left">
        <a href="/"><img width="45" height="40" src="/static/styles/emblemNumber2.png"></a>
    </div>
</header>
<h3>Подробная информация о продаже</h3>

<div th:unless="${sale.soldFurnitureToSales.isEmpty()}">
    <table>
        <tr>
            <th>Название мебели</th>
            <th>Кол-во проданной<br>мебели</th>
        </tr>
        <tr th:each="soldFurniture : ${sale.soldFurnitureToSales}">
            <td th:text="${soldFurniture.id.furniture.nameOfFurniture}"></td>
            <td th:text="${soldFurniture.amount}"></td>
        </tr>
    </table>
</div>

<div th:if="${sale.soldFurnitureToSales.isEmpty()}">
    <h3>Проданной мебели нет</h3>
</div>

<form th:action="@{/sales}" th:method="GET">
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
    <button type="submit">Назад</button>
</form>
<br>
</body>
</html>