input {
    width: 200px;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Candara, serif;
    font-size: 14px;
}

input:focus {
    border-color: red;
}

select {
    width: 200px;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Candara, serif;
    font-size: 14px;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #d94854 inset;
}

input[type="checkbox"]{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 8px
}