table {
    border: 2px solid grey;
    border-collapse: collapse;
    text-align: center;
    overflow:hidden;
    overflow-y: scroll;
    max-height: 306px;
    width: max-content;
    display: block;
}

.add_table{
    max-height: 246px;
}

.tr_body:nth-child(even) {
    background-color: #f2f2f2;
}

.tr_body:hover {
    background-color: rgba(217, 58, 58, 0.6);
}

th {
    height: 30px;
    width: 300px;
    background: #ffc0c3;
    border: 2px solid grey;
}

.th_edit{
    height: 30px;
    width: 100px;
    border: 2px solid grey;
}

td {
    height: 30px;
    border: 2px solid grey;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(255, 192, 195);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(255, 0, 15);
}