<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in furniture shop</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/backgroundForPages.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttonStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/inputStyle.css">
</head>
<body>
<h1>Авторизация</h1>
<div>
    <form th:action="@{/login}" th:method="POST">

        <input type="text" name="username" placeholder="Логин"><br><br>
        <input type="password" name="password" placeholder="Пароль"><br><br>

        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
        <button type="submit" style="float: left">Вход</button>
    </form>
    <div style="float: left">
        <form th:action="@{/registration}" th:method="GET">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <button type="submit">Регистрация</button>
        </form>
    </div>
</div>
</body>
</html>