<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Furniture shop</title>
  <link rel="stylesheet"  type="text/css" href="/static/styles/backgroundForPages.css">
  <link rel="stylesheet"  type="text/css" href="/static/styles/buttonStyle.css">
  <link rel="stylesheet"  type="text/css" href="/styles/mainPage.css">
</head>
<body>

<h1>Мебельный магазин</h1>

<p><a th:href="@{/personalArea}"> Личный кабинет </a></p>
<p><a th:href="@{/furniture}"> Мебель </a></p>

<div th:if="${staff.isAdmin()}">
  <p><a th:href="@{/staff}"> Работники </a></p>
  <p><a th:href="@{/manufacturer}"> Изготовители </a></p>
  <p><a th:href="@{/rooms}"> Комнаты </a></p>
  <p><a th:href="@{/size}"> Размеры </a></p>
  <p><a th:href="@{/supplies}"> Поставки </a></p>
</div>

<div th:if="${staff.isManager()}">
  <p><a th:href="@{/supplies}"> Поставки </a></p>
  <p><a th:href="@{/manufacturer}"> Изготовители </a></p>
  <p><a th:href="@{/rooms}"> Комнаты </a></p>
  <p><a th:href="@{/size}"> Размеры </a></p>
</div>

<div th:if="${staff.isSeller()}">
  <p><a th:href="@{/sales}"> Продажи </a></p>
  <p><a th:href="@{/manufacturer}"> Изготовители </a></p>
  <p><a th:href="@{/rooms}"> Комнаты </a></p>
  <p><a th:href="@{/size}"> Размеры </a></p>
</div>

<form th:action="@{/logout}" th:method="POST">
  <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
  <button type="submit">Выйти из аккаунта</button>
</form>

</body>
</html>